<div class="outer-block">
  <div class="inner-block">
    <img src="/assets/bg.png" />
  </div>
  <hr class="horizontal-line" />
  <div class="brand">re<span>Q</span></div>
  <div>
    <h1 class="title">Real Estate investing information that matters to you</h1>
  </div>
  <div class="subtitle">
    Limited to the San Francisco Bay Area --- Join our BETA!
  </div>
  <div class="d-inline-flex">
    <span class="sign-linkdin"
      ><a routerLink="/signup">Sign Up With LinkDIN</a></span
    >
  </div>
  <div>
    <span class="sign-in"><a>Sign In</a></span>
  </div>
</div>
